<div id="<%= dom_id libro %>">
  <p>
    <strong>Title:</strong>
    <%= libro.title %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= libro.pages %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= libro.author %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= libro.description %>
  </p>

</div>
